@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --bgtransparant: rgba(255, 255, 255, 0.6);
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --scroll: 215.4 16.3% 76.9%;
    --radius: 0.75rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --bgtransparant: rgba(2, 8, 23, 0.8);
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --scroll: 221, 91%, 45%, 0.4;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-thumb {
  background-color: hsla(var(--scroll));
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: hsla(var(--scroll));
  border-radius: 10px;
}

.transparent {
  background-color: transparent;
}

header {
  display: flex;
  align-items: center;
  gap: 2rem;
  justify-content: space-between;
  border-bottom: 1px solid hsl(var(--border));
}

header nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.wrapper {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: left;
  padding: 0px 40px 12px 40px;
  background-color: var(--bgtransparant);
  border-radius: 24px;
}

.wrapper h1 {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 5px;
  margin-top: 5px;
  background-color: transparent;
}

.words {
  border: 0px solid var(--background);
  height: 50px;
  line-height: 50px;
  font-size: 45px;
  text-transform: uppercase;
  overflow: hidden;
  background-color: transparent;
}

.words h1 {
  position: relative;
  color: hsl(var(--primary));
  animation: rotate_words 15s ease infinite;
  margin: 0;
}

@keyframes rotate_words {
  0%,
  100% {
    top: 0;
  }
  10% {
    top: 0;
  }
  20% {
    top: -50px;
  }
  35% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  55% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  75% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
  95% {
    top: -200px;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: collapse;
}
